**/bazel-bin
**/bazel-ci_build-cache
**/bazel-genfiles
**/bazel-out
**/bazel-im2txt
**/bazel-im2txt_LSTM
**/bazel-im2txt_GRU
**/bazel-im2txt_Sigmoid
**/bazel-testlogs
**/bazel-tf
data/
data/**
python_virtual_env/
python_virtual_env/**
**/model/**
**/output/**
.vscode/
.vscode/**